// Default colors.
$white: #ffffff;
$black: #000000;
$main_color: #3197de;
$dark_blue: #16345a;
$light_grey: #f7f7f7;
$dark_grey: #333333;
// |END| Default colors.

// Fonts.
$roboto: 'Roboto', sans-serif;
$fontawesome: 'FontAwesome';
// |END| Fonts.

// Font weight.
$weight: (
    thin: 200,
    light: 300,
    normal: 400,
    semi-bold: 500,
    bold: 600,
    super-bold: 700
);
// |END| Font weight.
