$menu_large_width: 1035px;
$menu_mid_width: 700px;

.header {
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  height: 100px;
}

// Logo

.logo {
  display: inline-block;
  @include transition(all .3s ease);
  
  &_hovered:hover {
    @include transform(scale(1.05));
  }

  &_left-side {
    position: absolute;
    top: 10px;
  }

  &_header {
    width: 160px;
    height: 80px;
  }
}

// Header menu

.header-menu {
  float: right;
  line-height: 100px;
  height: 100px;

  &.js_show {
    display: block;
  }

  &__wrap {
    position: relative;
    width: $menu_large_width;
  }

  &__item {
    width: $menu_large_width/5;
    float: left;
    text-align: center;
    text-transform: uppercase;

    &.js_hover {
      .header {
        &-menu__link {
          color: $main_color;
        }

        &-submenu__wrap,
        &-menu__link-blue-angle {
          display: block;
        }
      }
    }
  }

  &__item-arrow {
    display: none;
    position: absolute;
    top: 0;
    right: 8px;
    width: 35px;
    height: 52px;
    @include transition(all .3s ease);

    &.js_rotate {
      @include transform(rotate(180deg));
    }

    svg {
    width: 16px;
    height: 8px;
    position: relative;
    top: 0;
    left: 9px;

      use {
        fill: $white;
      }
    }
  }

  &__link-mobile-icon {
    display: none;
    line-height: 18px;
    vertical-align: middle;

    svg {
      max-width: 18px;
      max-height: 18px;

      use {
        fill: $white;
      }
    }
  }

  &__link {
    position: relative;
    font-size: 26px;
    color: $white;

    &.js_blue_background {
      background-color: rgba(49, 151, 222, 0.25);
    }
  }

  &__link-blue-angle {
    display: none;
    position: absolute;
    z-index: 5;
    right: 0;
    left: 35%;
    bottom: -35px;
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $main_color;
    border-left: 12px solid transparent;
  }
}

// Sub-menu

.header-submenu {

  &__wrap {
    display: none;
    overflow: hidden;
    height: 135px;
    position: absolute;
    background-color: rgba(51,51,51,0.9);
    width: $menu_large_width;
    top: 100px;
    left: 0;
    border-top: 4px solid $main_color;
    @include transition(height .3s linear);

    &.js_show {
      display: inline-block;
      height: auto;
    }
  }

  &__item {
    width: $menu_large_width/5;
    text-transform: none;

    &_float-left {
      float: left;
    }

    &_float-right {
      float: right;
    }

    &.js_hover {

      .header-submenu__link-text {
        color: $main_color;
      }

      svg {
        use {
          fill: $main_color;
        }
      }
    }
  }

  &__link-img {
    line-height: 12px;
    padding: 20px 0;

    svg {
      max-width: 58px;
      max-height: 58px;

      use {
        fill: $white;
      }
    }
  }

  &__link-text {
    font-size: 20px;
    line-height: 19px;
    color: $white;
  }
}

@media screen and ( max-width: 1280px ) {

  .header {
    height: 70px;
  }

  .logo {

    &_left-side {
      top: 7px;
    }

    &_header {
      width: 108px;
      height: 56px;
    }
  }
  
  .header-menu {
    line-height: 70px;
    height: 70px;

    &__wrap {
      width: $menu_mid_width;
    }

    &__item {
      width: $menu_mid_width/5;
    }

    &__link {
      font-size: 20px;
    }

    &__link-blue-angle {
      bottom: -24px;
    }
  }

  .header-submenu {

    &__wrap {
      top: 70px;
      height: 100px;
      width: $menu_mid_width;
    }

    &__item {
      width: $menu_mid_width/5;
    }

    &__link-img {
      padding: 12px 0;

      svg {
        max-width: 40px;
        max-height: 40px;
      }
    }
    
    &__link-text {
      font-size: 16px;
    }
  }
}

@media screen and ( max-width: 992px ) {

  .header-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    overflow-x: auto;
    top: 70px;
    right: 0;
    width: 267px;
    height: 100%;
    background-color: rgba(51,51,51,0.9);

    &__wrap {
      padding-bottom: 55px;
    }
    
    &__wrap,
    &__item {
      width: 100%;
      text-align: left;
    }

    &__item {
      position: relative;
      float: none;
      min-height: 52px;
      line-height: 52px;
      cursor: pointer;
    }

    &__item-arrow {
      display: block;
    }

    &__link,
    &__link-mobile-icon {
      display: inline-block;
    }
    
    &__link {
      width: 100%;
      height: 100%;
      font-size: 16px;
      padding: 0 0 0 17px;
    }

    &__link-mobile-icon {
      margin-right: 17px;
    }

    &__link-blue-angle {
      display: none;
    }
  }

  .header-submenu {

    &__wrap {
      width: 100%;
      background-color: transparent;
      border-width: 0;
      position: relative;
      top: 0;
      height: 0;
    }

    &__item {
      width: 100%;
      float: none;
    }

    &__link {
      padding-left: 52px;
      display: block;
    }

    &__link-img,
    &__link-text {
      display: inline-block;
      vertical-align: middle;
    }
      
    &__link-img {
      padding: 0;

      svg {
        max-width: 20px;
        max-height: 20px;
      }
    }

    &__link-text {
      margin-left: 22px;
    }
  }
}

@media screen and ( max-width: 767px ) {

  .header {
    padding: 0 12px;
  }
}










