$menu_large_width: 1035px;
$menu_mid_width: 700px;

.header {
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  height: 100px;
}

// Logo

.logo {
  display: inline-block;
  @include transition(all .3s ease);
  
  &:hover {
    @include transform(scale(1.05));
  }

  &_left-side {
    position: absolute;
    top: 10px;
  }

  &_header {
    width: 160px;
    height: 80px;
  }
}

// Header menu

.header-menu {
  float: right;
  line-height: 100px;
  height: 100px;

  &__wrap {
    position: relative;
    width: $menu_large_width;
  }

  &__item {
    width: $menu_large_width/5;
    float: left;
    text-align: center;
    text-transform: uppercase;

    &.hover {

      .header {
        &-menu__link {
          color: $main_color;
        }

        &-submenu__wrap,
        &-menu__blue-angle {
          display: block;
        }
      }
    }
  }

  &__link {
    position: relative;
    font-size: 26px;
    color: $white;
  }

  &__blue-angle {
    display: none;
    position: absolute;
    z-index: 5;
    right: 0;
    left: 35%;
    bottom: -35px;
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $main_color;
    border-left: 12px solid transparent;
  }
}

// Sub-menu

.header-submenu {

  &__wrap {
    display: none;
    height: 135px;
    position: absolute;
    background-color: rgba(51,51,51,0.9);
    width: $menu_large_width;
    top: 100px;
    left: 0;
    border-top: 4px solid $main_color;
  }

  &__item {
    width: $menu_large_width/5;
    text-transform: none;
    float: left;

    &.hover {

      .header-submenu__link-text {
        color: $main_color;
      }

      svg {
        use {
          fill: $main_color;
        }
      }
    }
  }

  &__link-img {
    line-height: 12px;
    padding: 20px 0;

    svg {
      max-width: 58px;
      max-height: 58px;

      use {
        fill: $white;
      }
    }
  }

  &__link-text {
    font-size: 20px;
    line-height: 19px;
    color: $white;
  }
}

@media screen and ( max-width: 1280px ) {

  .header {
    height: 70px;
  }

  .logo {

    &_left-side {
      top: 7px;
    }

    &_header {
      width: 108px;
      height: 56px;
    }
  }
  
  .header-menu {
    line-height: 70px;
    height: 70px;

    &__wrap {
      width: $menu_mid_width;
    }

    &__item {
      width: $menu_mid_width/5;
    }

    &__link {
      font-size: 20px;
    }

    &__blue-angle {
      bottom: -24px;
    }
  }

  .header-submenu {

    &__wrap {
      top: 70px;
      height: 100px;
      width: $menu_mid_width;
    }

    &__item {
      width: $menu_mid_width/5;
    }

    &__link-img {
      padding: 12px 0;

      svg {
        max-width: 40px;
        max-height: 40px;
      }
    }
    
    &__link-text {
      font-size: 16px;
    }
  }
}

@media screen and ( max-width: 992px ) {

  .header-menu {
    display: none;
  }
}











